name: API CI/CD Workflow

on: 
  push:
    branches: 
      - developpe
    paths:
      - 'api/**'
  pull_request:
    branches: 
      - master
    paths:
      - 'api/**'

jobs:
  build-and-test-api:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin' # Ajoutez cette ligne
    - name: Build and Test API
      run: |
        mvn -B package --file api/pom.xml
        mvn test --file api/pom.xml
