name: CI/CD for Java and TypeScript Projects

on: 
  push:
    branches: 
      - developpe
    paths:
      - 'api/**'
      - 'web/**'
      - 'apiReservation/**'
  pull_request:
    branches: 
      - master
    paths:
      - 'api/**'
      - 'web/**'
      - 'apiReservation/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ['api', 'web', 'apiReservation']
    steps:
    - uses: actions/checkout@v4

    - name: Setup Java for API projects
      if: matrix.project == 'api' || matrix.project == 'apiReservation'
      uses: actions/setup-java@v3
      with:
        java-version: '17'

    - name: Setup Node for Web project
      if: matrix.project == 'web'
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'

    - name: Build API project
      if: matrix.project == 'api' || matrix.project == 'apiReservation'
      run: mvn -B package --file ${{ matrix.project }}/pom.xml

    - name: Build Web project
      if: matrix.project == 'web'
      run: npm run build 

    - name: Test API project
      if: matrix.project == 'api' || matrix.project == 'apiReservation'
      run: mvn test --file ${{ matrix.project }}/pom.xml

    - name: Test Web project
      if: matrix.project == 'web'
      run: npm test

